#container{
    width:600px;
    height: 600px;
    display: grid;
    gap:5px;;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.cubeIn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
}