#container{

    align-self: center;
    width:600px;
    height:600px;
    display: grid;
    gap:5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
}


.cubeIn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
}

body{
    height: 100vh;
    display: flex ;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    background-color:  #fda403;
}

header{
    height: 200px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #e8751a; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    }
      
      /* The typing effect */
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
      
      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: #e8751a; }
      }




#formcont{
    align-self: center;
    height: 350px;
    width: 600px;
    background-color: #c51350;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
}


.row{
    display: flex;
    justify-content: center;
}


.inputGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    width: 50%;
}


input[type="text"]{
    outline: none;
    border: none;
    border-radius: 15px;
    height: 25px;
    margin:10px;
    padding-left: 15px;
}

input[type="text"]:focus{
    outline: 2px solid #fda403;
}


#sbBt{
    height: 35px;
    width: 70px;
    border:none;
    border-radius: 20px;
    background-color: #e8751a;
    font-size: 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#sbBt:hover{
    background-color:#fda403;
}

.btnCont{
    align-self: center;
    height: 200px;
    width:  250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


#rstBtt{
    height: 35px;
    width: 70px;
    border:none;
    border-radius: 20px;
    font-size: 1em;
    background-color: #c51350;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#plyAg{
    height: 35px;
    width: 100px;
    border:none;
    border-radius: 20px;
    font-size: 1em;
    background-color: #c51350;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#rstBtt:hover, #plyAg:hover{
    background-color: #d32964;
}

#scoreCont{
    align-self: center;
    width: 200px;
    height: 100px;
    background-color: #c51350;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
}

#winnerDecl{
    padding-top: 10px;
}